.row.form.register
  .col-md-8.col-md-offset-2.login-container
    .exit.pull-right.btn
      x
    .row
      %h2 Create Account
      .notice
        - if params[:notice] && params[:notice].split(' ').last != 'fingerprint'
          .alert.alert-danger
            = params[:notice]
      = form_tag(users_path, method: :post) do
        = email_field_tag :email, nil, {class: 'form-control', placeholder: 'email'}
        = hidden_field_tag :plugins
        = hidden_field_tag :fonts
        = hidden_field_tag :version
        = hidden_field_tag :cookies
        = hidden_field_tag :language
        = hidden_field_tag :agent
        -# = fields_for(:ip) do |ff|
        -#   = ff.hidden_field 'country_code', value: @country_code
        -#   = ff.hidden_field 'country_name', value: @country_name
        -#   = ff.hidden_field 'longitude', value: @longitude
        -#   = ff.hidden_field 'latitude', value: @latitude
        -#   = ff.hidden_field 'zipcode', value: @zipcode
        -#   = ff.hidden_field 'metrocode', value: @metrocode
        -#   = ff.hidden_field 'region_name', value: @region_name
        -#   = ff.hidden_field 'region_code', value: @region_code
        -#   = ff.hidden_field 'city', value: @city
        -#   = ff.hidden_field 'ip', value: @ip
        = submit_tag 'Submit', class: 'btn-lg pull-right'
