.row.form.register
  :javascript
    $("document").ready(function(){
      setPrint();
    });
  .col-md-8.col-md-offset-2.login-container
    .exit.pull-right.btn
      x
    .row
      %h2 create account
      = form_tag(users_path, method: :post) do
        = email_field_tag :email, nil, {class: 'form-control', placeholder: 'email'}
        = hidden_field_tag :plugins
        = hidden_field_tag :fonts
        = hidden_field_tag :version
        = hidden_field_tag :cookies
        = hidden_field_tag :language
        = hidden_field_tag :agent
        = submit_tag 'submit', class: 'btn-lg pull-right'
