.row.form.register
  .col-md-8.col-md-offset-2.login-container
    .exit.pull-right.btn
      x
    .row
      %h2 Create Account
      .notice
        - if params[:notice] && params[:notice].split(' ').last != 'fingerprint'
          .alert.alert-danger
            = params[:notice]
      = form_tag(users_path, method: :post) do
        = email_field_tag :email, nil, {class: 'form-control', placeholder: 'email'}
        = hidden_field_tag :plugins
        = hidden_field_tag :fonts
        = hidden_field_tag :version
        = hidden_field_tag :cookies
        = hidden_field_tag :language
        = hidden_field_tag :agent
        = hidden_field_tag 'country_code', @country_code
        = hidden_field_tag 'country_name', @country_name
        = hidden_field_tag 'longitude', @longitude
        = hidden_field_tag 'latitude', @latitude
        = hidden_field_tag 'zipcode', @zipcode
        = hidden_field_tag 'metrocode', @metrocode
        = hidden_field_tag 'region_name', @region_name
        = hidden_field_tag 'region_code', @region_code
        = hidden_field_tag 'city', @city
        = hidden_field_tag 'ip', @ip 
        = submit_tag 'Submit', class: 'btn-lg pull-right'
