.row.form.login
  .col-md-8.col-md-offset-2.login-container
    .exit.pull-right.btn
      x
    .row
      %h2 Sign In
      .notice
        - if params[:notice] && params[:notice].split(' ').last != 'valid'
          .alert.alert-danger
            = params[:notice]
      = form_for(:session, url: logging_in_path) do |f|
        = f.text_field :email, class: "form-control", placeholder: "email"
        = f.hidden_field :plugins
        = f.hidden_field :fonts
        = f.hidden_field :version
        = f.hidden_field :cookies
        = f.hidden_field :language
        = f.hidden_field :agent
        = f.hidden_field :ip, value: @userIp
        = f.submit "Login", class: "btn-lg pull-right"
