.container.splash-page
  .row
    %h1.col-md-12.col-sm-3.text-center.page-header.splash-title
      Lorem ipsum dolor sit amet
  .row
    %p.col-md-12.text-center
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
%h3= @ipBreakDown[0].data
- @ipBreakDown[0].data.each {|k,v| @bar << "#{v}"}
-# %h3= @Gip[0].data.each {|k,v| "#{k} is #{v}"}
%ul
  - @ipBreakDown[0].data.each do |k,v|
    %li= "#{k} is #{v}"
%p= @var
%p= @var.class
