.container

-# %h3= @ipBreakDown[0].data
-# - @ipBreakDown[0].data.each {|k,v| @bar << "#{v}"}
-# -# %h3= @Gip[0].data.each {|k,v| "#{k} is #{v}"}
-# %ul
-#   - @ipBreakDown[0].data.each do |k,v|
-#     %li= "#{k} is #{v}"
-# %p= @var
-# %p= @var.class

:javascript

  var Detector = function() {
      // a font will be compared against all the three default fonts.
      // and if it doesn't match all 3 then that font is not available.
      var baseFonts = ['monospace', 'sans-serif', 'serif'];

      //we use m or w because these two characters take up the maximum width.
      // And we use a LLi so that the same matching fonts can get separated
      var testString = "mmmmmmmmmmlli";

      //we test using 72px font size, we may use any size. I guess larger the better.
      var testSize = '72px';

      var h = document.getElementsByTagName("body")[0];

      // create a SPAN in the document to get the width of the text we use to test
      var s = document.createElement("span");
      s.style.fontSize = testSize;
      s.innerHTML = testString;
      var defaultWidth = {};
      var defaultHeight = {};
      for (var index in baseFonts) {
          //get the default width for the three base fonts
          s.style.fontFamily = baseFonts[index];
          h.appendChild(s);
          defaultWidth[baseFonts[index]] = s.offsetWidth; //width for the default font
          defaultHeight[baseFonts[index]] = s.offsetHeight; //height for the defualt font
          h.removeChild(s);
      }

      function detect(font) {
          var detected = false;
          for (var index in baseFonts) {
              s.style.fontFamily = font + ',' + baseFonts[index]; // name of the font along with the base font for fallback.
              h.appendChild(s);
              var matched = (s.offsetWidth != defaultWidth[baseFonts[index]] || s.offsetHeight != defaultHeight[baseFonts[index]]);
              h.removeChild(s);
              detected = detected || matched;
          }
          return detected;
      }

      this.detect = detect;
  };

  // ************************************************************************

  function identify_plugins(){
  // fetch and serialize plugins
  var plugins = "";
  // in Mozilla and in fact most non-IE browsers, this is easy
  if (navigator.plugins) {
    var np = navigator.plugins;
    var plist = new Array();
    // sorting navigator.plugins is a right royal pain
    // but it seems to be necessary because their order
    // is non-constant in some browsers
    for (var i = 0; i < np.length; i++) {
      plist[i] = np[i].name + "; ";
      plist[i] += np[i].description + "; ";
      plist[i] += np[i].filename + ";";
      for (var n = 0; n < np[i].length; n++) {
        plist[i] += " (" + np[i][n].description +"; "+ np[i][n].type +
                   "; "+ np[i][n].suffixes + ")";
      }
      plist[i] += ". ";
    }
    plist.sort();
    for (i = 0; i < np.length; i++)
      plugins+= "Plugin "+i+": " + plist[i];
    }
    // in IE, things are much harder; we use PluginDetect to get less
    // information (only the plugins listed below & their version numbers)
    if (plugins == "") {
      var pp = new Array();
      pp[0] = "Java"; pp[1] = "QuickTime"; pp[2] = "DevalVR"; pp[3] = "Shockwave";
      pp[4] = "Flash"; pp[5] = "WindowsMediaplayer"; pp[6] = "Silverlight";
      pp[7] = "VLC";
      var version;
      for ( p in pp ) {
        version = PluginDetect.getVersion(pp[p]);
        if (version)
          plugins += pp[p] + " " + version + "; "
      }
      plugins += ieAcrobatVersion();
    }
    return plugins;
  }
  var browserPlugins = identify_plugins();
  // ************************************************************************

  // fonts
  // ************************************************************************
    fontList = ["Adobe Jenson", "Adobe Text", "Albertus", "Aldus", "Alexandria", "Algerian", "American Typewriter", "Antiqua", "Arno", "Aster", "Aurora", "News 706", "Baskerville", "Bebas", "Bebas Neue", "Bell", "Belwe Roman", "Bembo", "Bembo Schoolbook",
     "Berkeley Old Style", "Bernhard Modern", "Bodoni", "Book Antiqua", "Bookman", "Bordeaux Roman", "Bulmer", "Caledonia", "Californian FB", "Calisto MT", "Cambria", "Capitals", "Cartier", "Caslon", "Wyld", "Fifteenth Century", "Caslon Antique", "Catull", "Centaur", "Century Old Style", "Century Schoolbook", "New Century Schoolbook", "Century Schoolbook Infant", "Chaparral", "Charis SIL", "typeface", "Charter", "Cheltenham", "Clearface", "Cochin", "Colonna", "Computer Modern", "Concrete Roman", "Constantia", "Cooper Black", "Copperplate Gothic", "Corona", "News 705", "DejaVu Serif", "Didot", "Droid Serif", "Ecotype", "The Economist", "Elephant", "Emerson", "Espy Serif", "Excelsior", "News 702", "Fairfield", "FF Scala", "Footlight", "FreeSerif", "Friz Quadrata", "Garamond", "Gentium", "Georgia", "Gloucester", "Goudy Old Style", "Goudy", "Goudy Pro Font", "Goudy Schoolbook", "Granjon", "Heather", "Hercules", "High Tower Text", "Hiroshige", "Hoefler Text", "Humana Serif", "Imprint", "Ionic No. 5", "News 701", "ITC Benguiat", "Janson", "Jenson", "Joanna", "Korinna", "Kursivschrift", "Legacy Serif", "Lexicon", "Liberation Serif", "Linux Libertine", "Literaturnaya", "Lucida Bright", "Melior", "Memphis", "Miller", "Minion", "Modern", "Mona Lisa", "Mrs Eaves", "MS Serif", "New York", "Macintosh", "Nimbus Roman", "NPS Rawlinson Roadway", "OCR A Extended", "Palatino", "Book Antiqua", "Perpetua", "Plantin", "Plantin Schoolbook", "Playbill", "Poor Richard", "Primer", "Renault", "Requiem", "Roman", "Windows 2.1", "Rotis Serif", "Sabon", "Seagull", "Sistina", "Souvenir", "STIX", "XITS", "Stone Informal", "Stone Serif", "Sylfaen", "Times New Roman", "Times", "Linotype", "Times New Roman", "Torino", "Trajan", "Trinité", "Trump Mediaeval", "Utopia", "Vale Type", "Vera Serif", "Versailles", "Wanted", "Weiss", "Wide Latin", "Windsor", "XITS", "Alexandria", "American Typewriter", "Apex", "Archer", "Athens", "Candida", "Cholla Slab", "City", "Clarendon", "Concrete Roman", "Courier", "Egyptienne", "Guardian Egyptian", "Ionic No. 5", "Lexia", "Lubalin Graph", "Memphis", "Museo Slab", "Nilland", "Rockwell", "Schadow", "Serifa", "Skeleton Antique", "Sreda", "Stymie", "Tower", "Abadi", "Agency FB", "Akzidenz-Grotesk", "Andalé Sans", "Antique Olive", "Aptifer", "Arial", "Arial Unicode MS", "Avant Garde Gothic", "Avenir", "Bank Gothic", "Barmeno", "Bauhaus", "Bell Centennial", "Bell Gothic", "Benguiat Gothic", "Berlin Sans", "Beteckna", "Blue Highway", "Highway Gothic", "Brandon Grotesque", "Cafeteria", "Calibri", "Casey", "Century Gothic", "Charcoal", "Mac OS 9", "Chicago", "Mac OS 8", "OS X", "Clearface Gothic", "Clearview", "Co Headline", "Co Text", "Compacta", "Corbel", "DejaVu Sans", "DIN", "Dotum", "Droid Sans", "Dyslexie", "Ecofont", "Eras", "Espy Sans", "Nu Sans", "Eurocrat", "Eurostile", "Square 721", "FF Dax", "FF Meta", "FF Scala Sans", "Fira Sans", "Flama", "Folio", "Formata", "Franklin Gothic", "FreeSans", "Frutiger", "Futura", "Geneva", "Macintosh", "Gill Sans", "Gill Sans Schoolbook", "Gotham", "Haettenschweiler", "Handel Gothic", "Denmark", "Hei", "Helvetica", "Helvetica Neue", "Swiss 721", "Highway Gothic", "Hiroshige Sans", "Hobo", "Impact", "Industria", "Interstate", "Johnston", "Kabel", "ITC Legacy Sans", "Lexia Readable", "Liberation Sans", "Linux Biolinum", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Lydian", "Meiryo", "Microgramma", "Modern", "Windows 2.1", "Motorway", "MS Sans Serif", "Microsoft Windows", "Arial", "Museo Sans", "Myriad", "Neutraface", "Neuzeit S", "News Gothic", "Nimbus Sans L", "Nina", "Open Sans", "Optima", "Parisine", "RATP Group", "Paris", "Pricedown", "Prima Sans", "PT Sans", "Russian Federation", "Rail Alphabet", "Revue", "Roboto", "Rotis Sans", "Segoe UI", "Sherbrooke", "Skia", "QuickDraw GX", "OS X", "Source Sans Pro", "Souvenir Gothic", "ITC Stone Sans", "Sweden Sans", "Syntax", "Tahoma", "Template Gothic", "Thesis Sans", "Tiresias", "Trade Gothic", "Transport", "Trebuchet MS", "Trump Gothic", "Tw Cen MT", "Twentieth Century", "Ubuntu", "Univers", "Zurich", "Vera Sans", "Verdana", "Virtue", "Amsterdam Old Style", "Divona", "Nyala", "Portobello", "Rotis Semi Serif", "Tema Cantante", "Andale Mono", "Anonymous", "Anonymous Pro", "Arial", "BatangChe", "Vera Sans Mono", "Bitstream Vera", "Consolas", "Courier", "CourierHP", "Courier New", "CourierPS", "Fontcraft Courier", "DejaVu Sans Mono", "Droid Sans Mono", "Everson Mono", "Fedra Mono", "Fixed", "Fixedsys", "Fixedsys Excelsior", "HyperFont", "Inconsolata", "KaiTi", "Letter Gothic", "Liberation Mono", "Lucida Console", "Lucida Sans Typewriter", "Lucida Typewriter", "Menlo", "MICR", "Miriam Fixed", "Monaco", "Macintosh", "Monofur", "Monospace", "MS Gothic", "MS Mincho", "Nimbus Mono L", "OCR-A", "OCR-B", "Orator", "Ormaxx", "PragmataPro", "Prestige Elite", "ProFont", "Proggy programming fonts", "SimHei", "SimSun", "Small Fonts", "Source Code Pro", "Sydnie", "QuickTime", "Terminal", "Tex Gyre Cursor", "Trixie", "Ubuntu Mono", "UM Typewriter", "Bitstream Vera", "Vera Sans Mono", "William Monospace", "Balloon", "Brush Script", "Choc", "Dom Casual", "Dragonwick", "Mistral", "Papyrus", "Segoe Script", "Tempus Sans", "Utopia", "Amazone", "American Scribe", "AMS Euler", "Apple Chancery", "Aquiline", "Aristocrat", "Bickley Script", "Civitype", "Codex", "Edwardian Script", "Forte", "French Script", "ITC Zapf Chancery", "Kuenstler Script", "Monotype Corsiva", "Old English Text MT", "Palace Script", "Park Avenue", "Scriptina", "Shelley Volante", "Vivaldi", "Vladimir Script", "Zapfino", "Andy", "Ashley Script", "Cézanne", "Chalkboard", "Comic Sans MS", "Dom Casual", "Eyadish", "Fontoon", "Irregularis", "Jefferson", "Kristen", "Lucida Handwriting", "Rage Italic", "Rufscript", "Scribble", "Soupbone", "Tekton", "Alecko", "Cinderella", "Coronet", "Cupola", "Curlz", "Magnificat", "Script", "Windows 2.1", "Stone Informal", "American Text", "Bastard", "Breitkopf Fraktur", "Cloister Black", "Fette Fraktur", "Fletcher", "Fraktur", "Goudy Text", "Lucida Blackletter", "Old English Text", "Schwabacher", "Wedding Text", "Aegyptus", "Egyptian hieroglyphics", "Aharoni", "Hebrew script", "Aisha", "Arabic script", "Alfarooq", "Arabic script", "Amienne", "Cyrillic", "Ray Larabie", "Aparajita", "Arial", "Batak Script", "Calibri", "Chandas", "Devanagari", "Embria", "Estrangelo Edessa", "Gadugi", "Grecs du roi", "Hanacaraka", "Javanese script", "Japanese Gothic", "Jomolhari", "Tibetan script", "Kochi", "Koren", "Lontara Script", "Brahmic script", "Maiola", "Cyrillic", "Greek", "Malgun Gothic", "Meiryo", "Microsoft Himalaya", "Microsoft JhengHei", "Microsoft YaHei", "Minchō", "Ming", "Mona", "MS Gothic", "MV Boli", "Myanmar Text", "typeface", "Nassim", "Arabic script", "Nastaliq Navees", "Neacademia", "Cyrillic", "Perpetua Greek", "Porson", "Samman", "Arabic script", "Segoe UI Symbol", "Shonar Bangla", "Shruti", "SimSun", "typeface", "Skolar", "Cyrillic", "Greek", "Skolar Devanagari", "Sundanese Unicode", "Sundanese script", "Sutturah", "Cyrillic", "Sylfaen", "Tai Le Valentinium", "Tahoma", "Tengwar", "Tibetan Machine Uni", "Tunga", "Unicode", "Windows XP", "Kannada script", "Vrinda", "Unicode", "Windows XP", "Windows", "Bengali script", "Wadalab", "Wilson Greek", "Apple Symbols", "Asana-Math", "Blackboard bold", "Bookshelf Symbol 7", "Braille", "Braille", "Cambria Math", "Commercial Pi", "Computer Modern", "Corel", "Erler Dingbats", "HM Phonetic", "raster", "Lucida Math", "Marlett", "Mathematical Pi", "Morse Code", "International Morse Code", "OpenSymbol", "OpenOffice.org", "RichStyle", "RichStyle.org", "Symbol", "SymbolPS", "Webdings", "Wingdings", "Wingdings 2", "Wingdings 3", "Zapf Dingbats", "Abracadabra", "Ad Lib", "Allegro", "Andreas", "Arnold Böcklin", "Astur", "Balloon Pop Outlaw Black", "Banco", "Bauhaus", "Beat", "Braggadocio", "Broadway", "Caslon Antique", "Cooper Black", "Curlz", "Ellington", "Exablock", "Exocet", "FIG Script", "Forte", "Gabriola", "Gigi", "Harlow Solid", "Harrington", "Horizon", "Jim Crow", "Jokerman", "Juice", "Lo-Type", "Loyolliams", "Magneto", "Megadeth", "Neuland", "Peignot", "Ravie", "San Francisco", "Showcard Gothic", "Snap", "Stencil", "Umbra", "Westminster", "Willow", "Windsor", "3x3", "Compatil", "Generis", "Grasset", "LED", "Luxi", "System", "Windows 3.x", "Adobe Originals", "Al Bayan", "Al Nile", "Al Tarikh", "Apple Braille", "Apple Color Emoji", "Apple SD Gothic Neo", "AppleGothic", "AppleMyungjo", "Arial Black", "Arial Hebrew", "Arial Hebrew Scholar", "Arial Narrow", "Arial Rounded MT Bold", "Athelas", "Avenir Next", "Avenir Next Condensed", "Ayuthaya", "Baghdad", "Bangla MN", "Bangla Sangam MN", "Baoli SC", "Beirut", "Big Caslon", "Bodoni 72", "Bodoni 72 Oldstyle", "Bodoni 72 Smallcaps", "Bodoni Ornaments", "Bradley Hand", "Brush Script MT", "Chalkboard SE", "Chalkduster", "Copperplate", "Corsiva Hebrew", "Damascus", "DecoType Naskh", "Devanagari MT", "Devanagari Sangam MN", "DIN Alternate", "DIN Condensed", "Diwan Kufi", "Diwan Thuluth", "Euphemia UCAS", "Farah", "Farisi", "GB18030 Bitmap", "Geeza Pro", "Gujarati MT", "Gujarati Sangam MN", "GungSeo", "Gurmukhi MN", "Gurmukhi MT", "Gurmukhi Sangam MN", "Hannotate SC", "Hannotate TC", "HanziPen SC", "HanziPen TC", "HeadLineA", "Heiti SC", "Heiti TC", "Herculanum", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Std", "Hiragino Kaku Gothic StdN", "Hiragino Maru Gothic Pro", "Hiragino Maru Gothic ProN", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Hiragino Sans GB", "InaiMathi", "Iowan Old Style", "ITF Devanagari", "Kailasa", "Kaiti SC", "Kaiti TC", "Kannada MN", "Kannada Sangam MN", "Kefa", "Khmer MN", "Khmer Sangam MN", "Kohinoor Devanagari", "Kokonor", "Krungthep", "KufiStandardGK", "Lantinghei SC", "Lantinghei TC", "Lao MN", "Lao Sangam MN", "Libian SC", "LiHei Pro", "LiSong Pro", "Luminari", "Malayalam MN", "Malayalam Sangam MN", "Marion", "Marker Felt", "Microsoft Sans Serif", "Mishafi", "Mishafi Gold", "Mshtakan", "Muna", "Myanmar MN", "Myanmar Sangam MN", "Nadeem", "Nanum Brush Script", "Nanum Gothic", "Nanum Myeongjo", "Nanum Pen Script", "New Peninim MT", "Noteworthy", "Oriya MN", "Oriya Sangam MN", "Osaka", "PCMyungjo", "Phosphate", "PilGi", "Plantagenet Cherokee", "PT Mono", "PT Sans Caption", "PT Sans Narrow", "PT Serif", "PT Serif Caption", "Raanana", "Sana", "Sathu", "Savoye LET", "Seravek", "Shree Devanagari 714", "SignPainter", "Silom", "Sinhala MN", "Sinhala Sangam MN", "Snell Roundhand", "Songti SC", "Songti TC", "STFangsong", "STHeiti", "STIXGeneral", "STIXIntegralsD", "STIXIntegralsSm", "STIXIntegralsUp", "STIXIntegralsUpD", "STIXIntegralsUpSm", "STIXNonUnicode", "STIXSizeFiveSym", "STIXSizeFourSym", "STIXSizeOneSym", "STIXSizeThreeSym", "STIXSizeTwoSym", "STIXVariants", "STKaiti", "STSong", "Sukhumvit Set", "Superclarendon", "Tamil MN", "Tamil Sangam MN", "Telugu MN", "Telugu Sangam MN", "Thonburi", "Trattatello", "Waseem", "Wawati SC", "Wawati TC", "Weibei SC", "Weibei TC", "Xingkai SC", "Yuanti SC", "YuGothic", "YuMincho", "Yuppy SC", "Yuppy TC"]
  // ************************************************************************



    var detective = new Detector();
    var fontDict = new Array();
    var installedFonts = 0;
    var uninstalledFonts = 0;

    for(var i in fontList) {
      if (detective.detect(fontList[i]) == false) {
        fontDict.push(fontList[i] + " false")
        installedFonts ++;
      } else {
        fontDict.push(fontList[i] + " true")
        uninstalledFonts ++;
      }
    }


%h1.page-header.text-center
  Fingerprint
%h4
  :javascript
    document.write(installedFonts + " fonts installed");
%h4
  :javascript
    document.write(uninstalledFonts + " fonts not installed");

%h4
  fingerprint:
%p{style: "font-size: 10px"}
  :javascript

    document.write(browserPlugins);

    for (var i = 0; i < fontDict.length; i++) {
      document.write(fontDict[i] + "; ");
    }
