.row
  .col-md-8.col-md-offset-2.foo
    %h3 plugins_intersection
    %p= @difference.plugins_intersection
    %hr

    %h3 plugins_lev
    %p= @difference.plugins_lev
    %hr

    %h3 user_agent_intersection
    %p= @difference.user_agent_intersection
    %hr

    %h3 user_agent_lev
    %p= @difference.user_agent_lev
    %hr

    %h3 browser_intersection
    %p= @difference.browser_intersection
    %hr

    %h3 browser_lev
    %p= @difference.browser_lev
    %hr

    %h3 fonts_intersection
    %p= @difference.fonts_intersection
    %hr

    %h3 original_to_altered_font_match
    %p= @difference.original_to_altered_font_match
    %hr

    %h3 altered_to_original_font_match
    %p= @difference.altered_to_original_font_match
    %hr

    %h3 cookies
    %p= @difference.cookies
    %hr

    %h3 language
    %p= @difference.language
    %hr

    %h3 ip
    %p= @difference.ip
    %hr

    %h3 screen
    %p= @difference.screen
    %hr

    %h3 country
    %p= @difference.country
    %hr
