.distance-comparison
  %h2.page-header
    ="#{title} - "
    =matched(match)
  .row.description
    .col-md-12
      %h4
        =description
  %h3.page-header
    metrics
  .row.metrics
    .col-md-4
      %h5.center-title
        ="#{type} detected in original:"
        %span= original_count
    .col-md-4.center
      %h5.center-title
        ="#{type} detected in altered:"
        %span= altered_count
    .col-md-4
      %h5.center-title
        Levenshtein distance from original to altered:
        %span= distance
  %h3.page-header
    data
  .row.data
    .col-md-12
      %h4.page-header
        ="#{type} unique to original:"
      %p= original_components
  .row.data
    .col-md-12
      %h4.page-header
        ="#{type} in original and altered:"
      %p= intersection
  .row.data
    .col-md-12
      %h4.page-header
        ="#{type} unique to altered:"
      %p= altered_components
