.fonts-comparison-partial
  %h3.page-header
    fonts -
    =matched((@difference.altered_to_original_font_match == 1.0 && @difference.original_to_altered_font_match == 1.0))
  .row.description
    .col-md-12
      %p= make_text(rand(200..400))
  %h4.page-header
    metrics
  .row.metrics
    .col-md-4
      %h5
        fonts detected in original:
        %span= @original.fonts[:installed].count
      %h5
        percent match with altered:
        %span= "#{(@difference.original_to_altered_font_match * 100).to_i} %"
    .col-md-4
      %h5
        matching installed fonts:
        %span= @difference.fonts_intersection.count
    .col-md-4
      %h5
        fonts detected in altered:
        %span= @altered.fonts[:installed].count
      %h5
        percent match with original:
        %span= "#{(@difference.altered_to_original_font_match * 100).to_i} %"
  %h4.page-header
    raw data
  .row.data
    .col-md-4
      %h4
        fonts unique to original:
      %p
        - (@original.fonts[:installed] - @difference.fonts_intersection).each do |font|
          %span{class: 'font-span'}= font
    .col-md-4
      %h4
        fonts in original and altered:
      %p
        - @difference.fonts_intersection.each do |font|
          %span{class: 'font-span'}= font
    .col-md-4
      %h4
        fonts unique to altered:
      %p
        - (@altered.fonts[:installed] - @difference.fonts_intersection).each do |font|
          %span{class: 'font-span'}= font
