!!!
%html
  %head
    %title secretPlains
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =csrf_meta_tags


  %body
    =javascript_include_tag 'application', 'data-turbolinks-track' => true

    .navbar.navbar-default
      .navbar-header.pull-right
        %a{class: "navbar-brand btn current"}= link_to_unless_current "home", "/", class: "not-current navbar-brand btn"
        = link_to "about", login_path, class: "not-current navbar-brand btn"
        -if current_user
          = link_to "profile", dashboard_path, class: "not-current navbar-brand btn"
          = link_to "settings", user_path(current_user), class: "not-current navbar-brand btn"
          = link_to "logout", logout_path, class: "not-current navbar-brand btn"
        -else
          = link_to "register", new_user_path, class: "not-current navbar-brand btn"
          -# = link_to "login", login_path, class: "navbar-brand"
          %a.btn.navbar-brand.login-link.not-current= "login"

    = notice
    = yield
