!!!
%html
  %head
    %title secretPlains
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    =csrf_meta_tags
    %link{:href => "//fonts.googleapis.com/css?family=Cantarell", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .header
      .brand
        = link_to "s e c r e t P l a i n s", root_path if page("/about") && !current_user
      .links
        -if current_user
          .dropdown.pull-left
            %button.btn.btn-default.dropdown-toggle{"type" => "button", "data-toggle" => "dropdown"}
              %span.fa.fa-bars
            %ul.dropdown-menu{"role" => "menu"}
              %li{"role" => "presentation"}
                =link_to "home", root_path unless page("/")
              %li{"role" => "presentation"}
                =link_to "profile", dashboard_path unless page("/dashboard", "/fingerprint")
              %li{"role" => "presentation"}
                =link_to "about", about_path unless page("/about")
              %li{"role" => "presentation"}
                =link_to "settings", user_path(current_user) unless page("/users/#{current_user.id}")
              %li.divider
              %li{"role" => "presentation"}
                =link_to "logout", logout_path
        -else
          %a.btn.login-link.splash-nav= "login"
          %a.btn.register-link.splash-nav= "register"
          =link_to "about", about_path, class: "btn splash-nav" unless page("/about")
          =link_to "home", root_path, class: "btn splash-nav" unless page("/")

    = yield

    = javascript_include_tag "application"
    = content_for(:javascripts)
